@using Microsoft.AspNetCore.Components.Authorization
@using PollingStationApp.Components.Layout
@using PollingStationApp.Data.Helpers.Abstractions
@inject AuthenticationStateProvider authStateProvider
@inject ITokenProvider TokenService
@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>

    </Router>
</CascadingAuthenticationState>

@code {
    protected override async Task OnInitializedAsync()
    {
        var state = await authStateProvider.GetAuthenticationStateAsync();
        var user = state.User;
        try
        {
            // Attempt to acquire the token at startup
            var x = await TokenService.GetAccessTokenAsync(user);
            x = "123";
        }
        catch (InvalidOperationException ex)
        {
            // Handle the exception, e.g., redirect to login page
            Navigation.NavigateTo("MicrosoftIdentity/Account/SignIn", true);

        }
    }
}